.message-bubble {
  display: flex;
  margin: 0.5rem 0;

  &.me {
    justify-content: flex-end;
  }

  &.other {
    justify-content: flex-start;
    .bubble {
      background: var(--bg-chat-customer);
      box-shadow: none;
      .text {
        color: var(--text-heading);
        font-family: var(--font-primary);
        font-weight: 500;
        font-size: 14px;
      }
      .timestamp {
        color: var(--text-muted);
        font-family: var(--font-primary);
      }
    }
  }

  .bubble {
    max-width: 75%;
    padding: 8px 12px;
    border-radius: 10px;
    background: var(--accent-indigo);
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
    white-space: pre-wrap;
    word-break: break-word;

    &.me {
      background: var(--bg-secondary);
      box-shadow: none;
    }

    .text {
      font-size: 0.875rem;
      color: var(--text-heading);
      font-family: var(--font-primary);
      font-weight: 500;
      font-size: 14px;
    }

    .timestamp {
      color: var(--text-muted);
      font-size: 11px;
      margin-top: 4px;
      font-family: var(--font-primary);
      font-weight: 500;
    }
  }
}
