.message-composer {
  background-color: var(--bs-light);
  border-top: 1px solid var(--bs-border-color);
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;

  &.customer {
    background-color: var(--text-white);
    .input {
      flex: 1;
      height: auto;
      min-height: 40px;
      overflow: hidden;
      resize: none;
      padding: 10px 40px 10px 12px;
      line-height: 1.4;
      font-size: 14px;
      border: 1px solid var(--border-input);
      outline: none;
      overflow-wrap: break-word;
      white-space: pre-wrap;
      border-radius: 10px;
      font-family: var(--font-primary);
      max-height: 100px;
      background-color: var(--bg-page);
    }
  }
}

@media screen and (max-width: 768px) {
  .message-composer {
    flex-grow: 1;
    &.customer {
      flex-grow: unset;
    }
  }
}
