.sidebar {
  grid-row: 1 / -1;
  grid-column: 1;
  overflow-y: auto;
  background-color: var(--bg-page);
  border-right: 1px solid var(--border-main);
  .sidebar-header {
    border-bottom: 1px solid var(--border-main);
    display: flex;
    align-items: center;
    gap: 10px;
    height: 56px;
    padding: 0px 30px;
    .sidebar-logo {
      width: 40px;
      height: 40px;
    }
    .sidebar-text {
      font-family: var(--font-primary);
      display: flex;
      flex-direction: column;
      .sidebar-title {
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
        color: var(--text-heading);
      }
      .sidebar-subtitle {
        font-size: 12px;
        line-height: 16px;
        color: var(--text-muted);
      }
    }
  }
  .sidebar-links {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
    .sidebar-link {
      display: flex;
      align-items: center;
      gap: 14px;
      padding: 12px 20px;
      font-family: var(--font-primary);
      font-size: 16px;
      font-weight: 500;
      color: var(--text-body);
      text-decoration: none;
      margin: 0px 10px;
      &:hover,
      &.active {
        background-color: var(--bg-secondary);
        color: var(--text-heading);
        border-radius: 10px;
      }
    }

    .sidebar-link-icon {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    grid-row: 1;
    grid-column: 1;
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100vh;
    z-index: 100;
    transition: left 0.3s ease;
    .close-sidebar {
      position: absolute;
      right: 15px;
      top: 15px;
    }
    &.open {
      left: 0;
    }
  }
}
