@use "../../assets/variables.scss";

.reset-password-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    padding: 20px;
  }
  .reset-password-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 512px;
    border-radius: 8px;
    box-shadow: 0 17px 38px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 20px;
    }
  }
  img.shield-logo {
    margin-bottom: 15px;
  }
  .reset-password-heading {
    font-size: 30px;
    font-weight: bold;
    font-family: var(--font-primary);
    color: var(--text-heading);
    margin-bottom: 10px;
  }
  .reset-password-subtext {
    font-size: 16px;
    font-family: var(--font-primary);
    color: var(--text-muted);
    margin-bottom: 20px;
  }
  .reset-password-form {
    width: 100%;
    .reset-password-error {
      font-size: 14px;
      color: var(--badge-error-text);
      margin-bottom: 10px;
      font-family: var(--font-primary);
    }
    .password-validations {
      .basic-line {
        height: 4px;
        border-radius: 8px;
        width: 100%;
        background: var(--border-main);
        margin: 10px 0px;
      }
    }
    .reset-password-button {
      width: 100%;
      height: 50px;
      font-size: 16px;
      font-weight: 500;
      font-family: var(--font-primary);
      color: var(--text-white);
      background: var(--btn-primary-bg);
      display: flex;
      align-items: center;
      justify-content: center;
      border: unset;
      border-radius: 8px;
      &:disabled {
        background: var(--border-input);
      }
    }
  }
  .info-block {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    font-size: 14px;
    background: var(--badge-background-light-blue);
    width: 100%;
    padding: 15px 45px 15px 20px;
    height: auto;
    min-height: 50px;
    border-radius: 8px;
    border: 1px solid var(--badge-info-border);
    display: flex;
    column-gap: 10px;
    margin-bottom: 30px;
    .info-text {
      color: var(--badge-info-text);
      font-size: 14px;
      font-family: var(--font-primary);
      line-height: 20px;
    }
  }
}
