.auth-info-panel {
  display: flex;
  width: 50%;
  flex-direction: column;
  background: var(--auth-gradient-main);
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  .auth-info-inner {
    width: 500px;
  }

  .auth-info-head-text {
    color: var(--text-white);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: var(--font-primary);
    line-height: 40px;
  }

  .auth-info-sub-text {
    font-size: 18px;
    line-height: 28px;
    font-family: var(--font-primary);
    color: var(--text-white);
    font-weight: 300;
    display: inline-block;
  }

  .auth-info-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .auth-info-item {
    display: flex;
    column-gap: 20px;
  }

  .auth-info-item-head {
    color: var(--text-white);
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-primary);
    line-height: 28px;
    margin: unset;
  }

  .auth-info-item-sub {
    margin: unset;
    font-size: 14px;
    font-family: var(--font-primary);
    color: var(--text-white);
    font-weight: 300;
  }
}
